/*=============================TAG SELECTORS=================================*/
body{
color: #40514E;
  /*background-color: #306d85;*/
  margin:  0px;
text-align: center;

  font-size:.97rem;
font-family: 'Merriweather', serif;
}
.top-container{
  background-color: #E4F9F5;
  padding-top:  100px;
/*  border:solid 10px;
  height: 200px;
  width: 200px;*/
  position: relative;
}
p{

  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
}
.NormalFont{

  font-family: 'Merriweather', serif;
  font-size:.97rem;
}
h1{
  /*margin-top: 0px;*/
  color: #66BFBF;
  font-size: 3rem;
  width: 50%;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2
{
    color: #66BFBF;
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
font-weight: normal;
padding-bottom: 10px ;
}
h3{
    color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{

  color: #EAF6F6;
}
.middle-container{
  /*height: 200px;
  width: 200px;
background-color: green;*/
/*border: solid 20px;
margin-left: 260px;*/
margin: 100px 0;

}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
/*  height: 200px;
  width: 200px;
background-color: red;*/
/*border: solid 10px;
margin-left: 500px;*/
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.contact-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}
.contact-form{
  width: 70%;
  float:   none;
  margin: 100px auto 100px auto;
}
.copyright{
  font-family: 'Montserrat', sans-serif;
  color: #EAF6F6;
  font-size: .8rem;
  padding: 20px 0;
}
.intro{
  width:  50%;
  margin: auto;
}
.CircleImg{

border-radius:  100%;
float: left;
width: 150px;
height: 100px;
}
.top-cloud{

position: absolute;
 right: 300px;
 top: 40px;
}
.bottom-cloud{
position: absolute;
left: 250px;
bottom: 300px;
}
.Underline{
  text-decoration: underline;
}
.Centeralized{
width: 70%;
  margin: 0 auto 0 auto;
}
#Myphoto{

width:150px;
}
hr{
/*border-style: none;
border-top-style:    dotted ;
border-color:  grey;
border-width:5px;
width: 5%;*/
width: 4%;
border: dotted #EAF6F6 6px;
border-bottom: none;
margin: 100px auto;
}


.button {
  background-color: #66BFBF; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 #66BFBF,0 17px 50px 0 rgba(0,0,0,0.19);
}
